.container{
    display: flex;
    height: 200px;
 width: 100%;
background-color: brown;
justify-content:center;
align-items: flex-end;



}
.box1{
    height: 100px;
    width: 15%;
    background-color: blue;

    
    
}
.box2{
    height: 100px;
    width: 15%;
    background-color: darkgreen;
    

.box3{
    height: 200px;
    width: 15%;
    background-color:aquamarine;
    
}
